@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Revenue";
  src: url("/assets/font/revenue.ttf") format("truetype");
}

:root {
  /* BG */
  --dark-gradient: linear-gradient(
    127deg,
    rgba(106, 106, 106, 1) 7%,
    rgba(59, 59, 59, 1) 100%
  );
  --dark-blue: #2a3855;
  --green-grad: linear-gradient(
    127deg,
    rgba(124, 217, 184, 1) 7%,
    rgba(33, 209, 146, 1) 100%
  );
  --dark-gradient-blue: linear-gradient(
    90deg,
    rgba(67, 89, 134, 1) 0%,
    rgba(42, 56, 85, 1) 100%
  );
  /* Fonts */
  --soft-white: #f0f0f0;
  --darken-blue: #293855;
  --darkblue-soft: #3e506e;
  --greysoft: #4c4c4d;
  --greydark: #2c2c2c;
  /* Button */
  --blue-temp: rgb(50, 156, 255);
  --blue-grad: linear-gradient(
    127deg,
    rgba(121, 190, 255, 1) 7%,
    rgba(50, 156, 255, 1) 100%
  );
  --red-grad: linear-gradient(
    127deg,
    rgb(255, 121, 121) 7%,
    rgb(255, 57, 50) 100%
  );
  --green-yni: linear-gradient(
    90deg,
    rgba(0, 255, 165, 1) 30%,
    rgba(0, 189, 121, 1) 70%
  );
  /* Form */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

h1 {
  color: var(--soft-white);
}

h2 {
  font-size: 2.5rem;
  color: var(--greysoft);
}

h6 {
  color: var(--greysoft);
}

p {
  font-size: 20px;
  color: var(--greysoft);
}

q {
  font-size: 20px;
  color: var(--greysoft);
}

.ni-font {
  font-family: "Revenue";
}

.bg-gradient-dark {
  background: var(--dark-gradient-blue);
}

.py-7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.border-radius {
  border-radius: 1rem;
}

.bg-nav {
  background: var(--green-grad);
}

.navbar .navbar-brand {
  color: var(--soft-white);
  font-weight: 500;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  border: 1px solid black;
}

.navbar .navbar-toggler .navbar-toggler-icon .divider,
.navbar .navbar-toggler .navbar-toggler-icon .divider2,
.navbar .navbar-toggler .navbar-toggler-icon .divider3 {
  position: absolute;
  width: 18px;
  height: 0.5px;
  background-color: black;
  top: 19px;
  left: 31px;
}

.navbar .navbar-toggler .navbar-toggler-icon .divider2 {
  top: 27px;
}

.navbar .navbar-toggler .navbar-toggler-icon .divider3 {
  top: 35px;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navbar .navbar-collapse a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  margin-right: 2rem;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--soft-white);
  font-weight: 600;
}

.dropdown-menu {
  border: 0;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 5px;
}

.dropdown-menu li a {
  padding: 0.25rem 0.75rem;
}

.dropdown-menu li i {
  padding: 0.25rem 0rem 0.25rem 0.5rem;
}

.carousel-item {
  height: 100vh;
  background: #000;
  color: var(--soft-white);
  position: relative;
}

.carousel-item .container {
  position: absolute;
  bottom: 9rem;
  left: 9rem;
  right: 0;
  padding-bottom: 50px;
}

.carousel-item .container p {
  color: var(--soft-white);
}

.carousel-item .overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}

.section-popular-content .container .section-popular-unit .card-unit {
  max-width: 260px;
  min-height: 380px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.5);
}

.section-popular-content .container .section-popular-unit .card-unit .unit-title {
  font-size: 26px;
  color: #fff;
  text-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.35);
}

.section-popular-content .container .section-popular-unit .card-unit .unit-lokasi {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.35);
}

.visi-misi img {
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
}

.wrapper-kabar-berita {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.wrapper-kabar-berita .card {
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.wrapper-kabar-berita .card .card-body {
  width: 100%;
  vertical-align: top;
  padding: 0.5rem 1rem 1rem 1rem;
}

.wrapper-kabar-berita .card .card-body .card-content {
  text-align: left;
  color: #333;
}

.wrapper-kabar-berita .card .card-body .card-content a {
  background: var(--blue-grad);
}

.wrapper-kabar-berita .card img {
  padding: 0.7rem;
  border-radius: 1.2rem;
}

.wrapper-kabar-berita .center {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
}

.wrapper-kabar-berita .slick-dots li button:before {
  font-size: 14px;
  color: black;
}

.wrapper-kabar-berita .slick-prev:before,
.slick-next:before {
  color: black;
}

.wrapper-testimoni {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper-testimoni .testi img {
  max-width: 300px;
  max-height: 400px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 0.3rem 0.7rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0.3rem 0.7rem rgba(0, 0, 0, 0.5));
  margin-right: 0 !important;
}

footer .horizontal {
  background: transparent;
}

footer .dark {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(0, 0, 0, 0.4)), to(transparent));
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
}

footer .text-gradient.text-primary {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #02ec9a), color-stop(70%, #00bd79));
  background-image: linear-gradient(90deg, #02ec9a 30%, #00bd79 70%);
}

footer .text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}

footer .text-primary {
  color: #cb0c9f !important;
}

footer .font-weight-bolder {
  font-weight: 700 !important;
}

footer .opacity-8 {
  opacity: 0.8 !important;
}

footer .pe-1 {
  padding-right: 0.25 rem !important;
}

footer .ms-n3 {
  margin-left: -1rem !important;
}

footer .mb-2 {
  margin-bottom: 0.5 rem !important;
}

footer .mb-4 {
  margin-bottom: 1.5 rem !important;
}

footer .mt-3 {
  margin-top: 1 rem !important;
}

footer .my-4 {
  margin-top: 1.5 rem !important;
  margin-bottom: 1.5 rem !important;
}

footer a {
  letter-spacing: -0.025rem;
  color: #344767;
}

footer p {
  line-height: 1.625;
  font-weight: 400;
}

footer .text-lg {
  font-size: 1.125rem !important;
}

footer .text-sm {
  line-height: 1.5;
  font-size: 0.875rem !important;
}

footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

footer .nav-link {
  color: #344767;
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 0;
  padding-bottom: 0.25 rem;
}

@media (min-width: 768px) {
  footer .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

button:hover {
  cursor: pointer;
}

.btn-custom {
  background-color: #00a2ff;
  padding: 7px 28px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-custom a {
  color: white;
  font-size: 18px;
}

.btn-custom:hover {
  cursor: pointer;
  background-color: #008cff;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font-size: 18px;
  padding: 2px 0px;
  width: 95px;
  border-radius: 10px;
  overflow: hidden;
}

.effect.effect-2 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.effect.effect-2:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 6px 6px 0px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-align: center;
}

.effect.effect-2:hover {
  text-indent: -30px;
  color: #fff;
}

.effect.effect-2:hover:before {
  right: 0;
  text-indent: 0px;
}

@media (max-width: 575.98px) {
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #313131;
  }
  .carousel-item {
    height: 93vh;
  }
  .carousel-item .container {
    position: absolute;
    bottom: 11rem;
    left: 2px;
    right: 0;
    padding-bottom: 50px;
    text-align: center;
  }
  .accordion {
    height: auto;
  }
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  .wrapper-kabar-berita .center {
    width: 80%;
    margin: 0px auto;
  }
}

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

.jumbotron .container-fluid h1 {
  color: white;
}

.jumbotron .container-fluid p {
  color: #e9e9e9;
}

.unit-pendaftaran p {
  font-weight: 500;
}

.unit-pendaftaran .btn-red {
  background: var(--red-grad);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.unit-pendaftaran .btn-red:hover {
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
}

.unit-pendaftaran .btn-blue {
  background: var(--blue-grad);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.unit-pendaftaran .btn-blue:hover {
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
}

.unit-pendaftaran .btn-green {
  background: var(--green-grad);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.unit-pendaftaran .btn-green:hover {
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
}

.alur-pendaftaran h1 {
  color: var(--greydark);
}

.alur-pendaftaran p {
  color: var(--greysoft);
}

.alur-pendaftaran .timeline-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alur-pendaftaran .timeline-steps .timeline-step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 1rem;
}

@media (min-width: 768px) {
  .alur-pendaftaran .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  .alur-pendaftaran .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.alur-pendaftaran .timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}

.alur-pendaftaran .timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #498af3;
}

.alur-pendaftaran .timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}

/*Section heading style-2*/
.wrapper-timeline {
  /* Timeline */
}

.wrapper-timeline .content-area-l5-2 {
  background: rgba(29, 36, 58, 0.02);
  padding-top: 60px;
  padding-bottom: 55px;
}

.wrapper-timeline .content-area-l5-2 .content-l5-2-content {
  padding-top: 45px;
}

.wrapper-timeline .content-area-l5-2 .content-l5-2-content p {
  font-size: 17px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--greysoft);
}

.wrapper-timeline .content-area-l5-2 .content-l5-2-content ul {
  padding-left: 21px;
}

.wrapper-timeline .content-area-l5-2 .content-l5-2-content ul li {
  list-style: decimal;
  font-size: 1.25rem;
  color: var(--greysoft);
  padding-left: 8px;
}

.wrapper-timeline .content-area-l5-2 .section__heading-2 h2 {
  line-height: 1.2;
  margin-bottom: 1em;
  color: var(--greydark);
  font-size: 34px !important;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .wrapper-timeline .content-area-l5-2 .section__heading-2 h2 {
    font-size: 38px !important;
    line-height: 45px;
  }
}

@media (min-width: 768px) {
  .wrapper-timeline .content-area-l5-2 .section__heading-2 h2 {
    font-size: 48px;
    line-height: 55px;
  }
  .wrapper-timeline .content-area-l5-2 .content-area-l5-2 {
    padding-top: 80px;
    padding-bottom: 75px;
  }
}

@media (min-width: 992px) {
  .wrapper-timeline .content-area-l5-2 .section__heading-2 h2 {
    font-size: 60px !important;
    line-height: 66px;
  }
}

@media (min-width: 992px) {
  .wrapper-timeline .content-area-l5-2 .content-area-l5-2 {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .wrapper-timeline .content-area-l5-2 .content-l5-2-content {
    padding-top: 0;
  }
  .wrapper-timeline .content-area-l5-2 .content-l5-2-image .shape-1 {
    bottom: -15%;
    right: 22%;
  }
}

.wrapper-timeline .content-area-l5-2 .content-l5-2-image {
  position: relative;
}

.wrapper-timeline .content-area-l5-2 .content-l5-2-image .shape-1 {
  position: absolute;
  bottom: 10%;
  left: -15%;
}

@media screen and (max-width: 426px) {
  .wrapper-timeline .content-area-l5-2 .content-l5-2-content {
    text-align: center;
  }
  .wrapper-timeline .content-area-l5-2 .content-area-l5-2 .container > div > div:last-child {
    padding: 0px 1em 1em 6em;
  }
}

.wrapper-timeline .timeline {
  border-left: 4px solid #329cff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  line-height: 1.4em;
  padding: 50px;
  list-style: none;
  text-align: left;
}

.wrapper-timeline .timeline h2,
.wrapper-timeline .timeline h3 {
  font-size: 1.4em;
}

.wrapper-timeline .timeline .event {
  border-bottom: 1px dashed rgba(136, 136, 136, 0.5);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}

.wrapper-timeline .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.wrapper-timeline .timeline .event:before,
.wrapper-timeline .timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.wrapper-timeline .timeline .event:before {
  left: -217.5px;
  color: var(--greydark);
  content: attr(data-date);
  text-align: right;
  font-weight: 300;
  font-size: 0.9em;
  min-width: 120px;
}

.wrapper-timeline .timeline .event:after {
  -webkit-box-shadow: 0 0 0 4px #329cff;
          box-shadow: 0 0 0 4px #329cff;
  left: -57.85px;
  background: #ffffff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.form-pendaftaran .card {
  width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}

.form-pendaftaran label.radio {
  cursor: pointer;
  width: 100%;
}

.form-pendaftaran label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-pendaftaran label.radio span {
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #039be5;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  line-height: 27px;
}

.form-pendaftaran label.radio input:checked + span {
  border-color: #039be5;
  background-color: #81d4fa;
  color: #fff;
  border-radius: 9px;
  height: 48px;
  line-height: 27px;
}

.form-pendaftaran .form-control {
  margin-top: 10px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px;
}

.form-pendaftaran .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #039be5;
}

.form-pendaftaran .agree-text {
  font-size: 12px;
}

.form-pendaftaran .terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}

.form-pendaftaran .confirm-button {
  height: 50px;
  border-radius: 10px;
}

.form-pendaftaran .card-body button {
  margin-left: 7rem;
}

@media (max-width: 575.98px) {
  .form-pendaftaran .card-body button {
    margin-left: 6rem;
  }
}

.form-pendaftaran .nice-select {
  line-height: 32px;
  font-size: 16px;
}

.program {
}

.program .content-2-2 .btn:focus,
.program .content-2-2 .btn:active {
  outline: none !important;
}

.program .content-2-2 .title-text {
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.program .content-2-2 .text-title {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  color: #121212;
  margin-bottom: 0.625rem;
}

.program .content-2-2 .text-caption {
  color: #121212;
  font-weight: 300;
}

.program .content-2-2 .column {
  padding: 2rem 2.25rem;
}

.program .content-2-2 .icon {
  margin-bottom: 1.5rem;
}

.program .content-2-2 .icon-title {
  font: 500 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 0.625rem;
  color: #121212;
}

.program .content-2-2 .icon-caption {
  font: 400 1rem/1.625 Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.program .content-2-2 .card-block {
  padding: 1rem 1rem 5rem;
}

.program .content-2-2 .card {
  padding: 1.75rem;
  background-color: #eef6f4;
  border-radius: 0.75rem;
  border: 1px solid #27c499;
}

.program .content-2-2 .card-title {
  font: 600 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 0.625rem;
  color: #000000;
}

.program .content-2-2 .card-caption {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  color: #565656;
  letter-spacing: 0.025em;
  margin-bottom: 0;
}

.program .content-2-2 .btn-card {
  font: 700 1rem/1.5rem Poppins, sans-serif;
  background-color: #27c499;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.program .content-2-2 .btn-card:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.program .content-2-2 .btn-outline {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  color: #979797;
  border: 1px solid #979797;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.75rem;
}

.program .content-2-2 .btn-outline:hover {
  border: 1px solid #27c499;
  color: #27c499;
}

.program .content-2-2 .card-text {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.program .content-2-2 .grid-padding {
  padding: 0rem 1rem 3rem;
}

@media (min-width: 576px) {
  .program .content-2-2 .grid-padding {
    padding: 0rem 2rem 3rem;
  }
  .program .content-2-2 .card-block {
    padding: 3rem 2rem 5rem;
  }
}

@media (min-width: 768px) {
  .program .content-2-2 .grid-padding {
    padding: 0rem 4rem 3rem;
  }
  .program .content-2-2 .card-block {
    padding: 3rem 4rem 5rem;
  }
}

@media (min-width: 992px) {
  .program .content-2-2 .grid-padding {
    padding: 1rem 6rem 3rem;
  }
  .program .content-2-2 .card-block {
    padding: 3rem 6rem 5rem;
  }
  .program .content-2-2 .column {
    padding: 0rem 2.25rem;
  }
}

@media (min-width: 1200px) {
  .program .content-2-2 .grid-padding {
    padding: 1rem 10rem 3rem;
  }
  .program .content-2-2 .card-block {
    padding: 3rem 6rem 5rem;
  }
  .program .content-2-2 .card-btn-space {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .program .content-2-2 .btn-card,
  .program .content-2-2 .btn-outline {
    width: 95%;
    float: right;
  }
}

@media (max-width: 980px) {
  .program .content-2-2 .card-btn-space {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */